<div>
	<div class="form-row event-fees wrap" data-node-name="eventFeesNode">
		<div class="form-col">
			<h3>{{ lang.attendees }}</h3>
			<hr>
			<div class="form-row">
				<p class="item-title">{{ lang.eventFees }}:</p>
				<p>{{ lang.price }}:</p>
				<p>{{ lang.numberAttendees }}:</p>
			</div>
			<hr>
			<component type="NumberBox" data-node-name="adultNumberBox">
				<label>{{ lang.adult }}:</label>
				<price>650</price>
				<name>adult</name>
			</component>
			<hr>
			<component type="NumberBox" data-node-name="childrenNumberBox">
				<label>{{ lang.childrenLessThan12 }}:</label>
				<price>350</price>
				<name>children</name>
			</component>
			<hr>
			<div class="validation-message hidden" data-node-name="eventFeesErrorNode">{{ lang.selectNumberOfAttendees }}</div>
			<div class="form-row">
				<p class="item-title">{{ lang.totalEventFees }}:</p>
				<p class="total">
					$<span data-node-name="totalNode" class="total">0</span>
				</p>
			</div>
		</div>

		<div class="form-col">
			<h3>{{ lang.cardInformation }}</h3>
			<hr>
			<div data-node-name="cardInformation"></div>
			<div data-node-name="cardInformationErrorNode" class="validation-message hidden">{{ lang.enterYourCardInformation }}</div>
		</div>
	</div>
	<input type="submit" class="secondary-button" data-node-name="submitButton" value="{{ lang.submit }}">
</div>
