.textarea {
	position: relative;

	& textarea {
		border: 1px solid #e6e6e6;
		font-size: 1rem;
		font-family: inherit;
		width: 100%;
		height: 5em;
		border-radius: 3px;
		padding: 0.25em;
	}

	& textarea:focus {
		outline-color: var(--teal);
	}

	& ::-webkit-input-placeholder {
		color: var(--gray);
	}

	& textarea.invalid::-webkit-input-placeholder {
		color: var(--red);
	}

}
