.textbox {
	position: relative;

	& label {
		position: relative;
	}

	& .mask {
		color: var(--text-color);
		font-size: 2rem;
		left: 0.4em;
		position: absolute;
		top: -0.5em;
	}

	& input {
		background: none;
		border: 0;
		border-radius: 0;
		border-bottom: 2px solid var(--lighter-gray);
		font-size: 1.2rem;
		margin-bottom: 0.25em;
		padding: 0.25em 0 0 0;
		touch-action: manipulation;
		height: var(--input-height);

		&.hide-input {
			color: var(--background-color);
		}
	}

	& input:invalid {
		box-shadow: none;
	}

	& input:focus,
	& .populated.invalid:focus,
	& .populated.valid:focus {
		border-bottom-color: var(--teal);
		outline: none;
	}

	& .label {
		color: var(--gray);
		cursor: text;
		font-size: 1rem;
		left: 0;
		position: absolute;
		top: 0;
		touch-action: manipulation;
		transition: font-size 0.2s, font-weight 0.2s, left 0.2s, top 0.2s;
	}

	& input:focus ~ .label,
	& .populated ~ .label,
	& .populated.invalid:focus ~ .label,
	& .populated.valid:focus ~ .label {
		color: var(--teal);
		font-size: 0.8rem;
		font-weight: var(--font-weight-semibold);
		left: 0;
		top: -2em;
		width: 100%;
		padding: 0.5em 0 0 0;
	}

	& input:-webkit-autofill ~ .label,
	& input:-webkit-autofill:hover ~ .label,
	& input:-webkit-autofill:focus ~ .label {
		background-color: rgb(250, 255, 189);
		color: var(--input-focus);
		font-size: 0.8rem;
		font-weight: var(--font-weight-semibold);
		left: 0;
		top: -2em;
		width: 100%;
		padding: 0.5em 0 0 0;
	}

	& .description {
		color: var(--dark-gray);
		font-size: 0.8rem;
		padding-left: 0.35em;
	}

	& .validation-message {
		color: var(--red);
		font-size: 0.8rem;
		padding-left: 0;
		max-width: 200px;
	}

	& .populated.invalid {
		border-bottom-color: var(--red);
	}

	& .populated.invalid ~ .label {
		color: var(--red);
	}

	& .populated.valid {
		border-bottom-color: var(--teal);
	}

	& .populated.valid ~ .label {
		color: var(--teal);
	}

}
