<div class="textbox" data-min-message="${min-message}" data-max-message="${max-message}" data-required-message="${required-message}">
	<label>
		<span class="mask hidden" data-node-name="maskNode"></span>
		<input name="${name}" ${type}="text" data-node-name="inputNode" ${required} ${pattern} ${maxlength} ${autocomplete}>
		<span class="label">${label}</span>
	</label>

	<div class="description" data-node-name="descriptionNode">${description}</div>
	<div class="validation-message hidden" data-node-name="validationNode">${validation-message}</div>

	<div class="info-icon hidden" data-node-name="infoIconNode">
		<i class="far fa-question-circle fa-padding" aria-hidden="true"></i>
	</div>

	<div class="info-box hidden" data-node-name="infoBoxNode" role="tooltip">
		<i class="info-box-close far fa-times-circle fa-sm fa-padding" data-node-name="infoBoxCloseNode"></i>
		<div data-node-name="infoContentNode">${info}</div>
	</div>
</div>
