<form class="registration-form">
	<h1>{{ lang.contactInformation }}</h1>
	<hr>
	<div class="form-row user-info wrap">
		<div class="form-row">
			<component src="components/form/FirstName.html" data-node-name="firstNameTextBox" class="mobile"></component>
		</div>
		<component src="components/form/LastName.html" data-node-name="lastNameTextBox"></component>
	</div>

	<div class="form-row user-info">
		<component src="components/form/GuestName.html" data-node-name="guestNameTextBox"></component>
		<component src="components/form/BatchOf.html" data-node-name="batchOfTextBox"></component>
	</div>

	<div class="form-row user-info">
		<component src="components/form/Address.html" data-node-name="addressTextBox"></component>
		<component src="components/form/UnitNumber.html" data-node-name="unitNumberTextBox"></component>
	</div>

	<div class="form-row user-info wrap">
		<component src="components/form/ZipCode.html" data-node-name="zipCodeTextBox"></component>
		<div class="form-row">
			<component src="components/form/City.html" data-node-name="cityTextBox" class="mobile"></component>
			<component src="components/form/State.html" data-node-name="stateSelect"></component>
		</div>
	</div>

	<div class="form-row user-info">
		<component src="components/form/EmailAddress.html" data-node-name="emailAddressTextBox"></component>
		<component src="components/form/PhoneNumber.html" data-node-name="phoneNumberTextBox"></component>
	</div>

	<component type="Fees" data-node-name="feesNode"></component>

	<component type="Dialog" data-node-name="registrationFeesDialog" id="registrationFeesDialog">
		<content>
			{{ lang.byContinuingYouAgree }}
		<p><button class="primary-button" data-node-name="continueButton">{{ lang.continue }}</button></p>
		</content>
	</component>
</form>
