.registration-form {
	padding: 1em var(--padding-mobile);
	font-family: var(--light-font);
	overflow: hidden;
	margin-bottom: 2em;

	& h1,
	& h3 {
		font-weight: regular;
		margin: 0 0 1em 0;
		font-size: 1.17em;
		border-bottom: 1px solid black;
		width: 250px;
	}

	& br {
		line-height: 1.45em;
	}

	& h3 {
		padding-top: 1em;
		margin-top: auto;
		margin-right: 10px;
	}

	& input,
	& select,
	& .select {
		max-width: 100%;
		width: 100%;
	}

	& input[type="submit"] {
		max-width: 200px;
		margin-top: 2em;
	}

	& .select,
	& .textbox {
		margin-bottom: 1em;
	}

	& span.label {
		font-weight: 600;
		left: 0;
	}

	/* CSS styling for Stripe elements */
	& .StripeElement {
		background-color: var(--background-color);
		border: 0;
		border-bottom: 2px solid var(--lighter-gray);
		height: 30px;
		margin-bottom: 0.5em;
		padding: 0;
	}

	& .CardField--ltr .CardBrandIcon-container:not(.is-hidden)+.CardField-input-wrapper {
		left: 0 !important;
	}

	& .CardField--ltr .CardBrandIcon-container {
		display: none !important;
	}

	& .StripeElement--focus,
	& .StripeElement--complete {
		border-color: var(--input-field-valid-color);
	}

	& .StripeElement--invalid {
		border-color: var(--input-field-invalid-color);
	}
}

.validation-message {
	color: var(--input-field-invalid-color);
	font-size: 0.8rem;
}


.registration-form .col {
	padding-left: 0;
	padding-right: 0;
}

@media (--medium-up) {
	.registration-form {
		padding: 1em var(--padding-desktop);

		& .col-md-6 {
			padding-right: 4rem;
		}

		& .col-md-6:nth-child(even) {
			padding-right: 0;
		}
	}

	.row-flush.zip-city-state {

		& .col-md-3:first-child {
			padding-right: 4rem;
		}

		& .col-md-6 {
			padding-right: 4rem;
		}
	}
}

.row.table-headers,
.row.numberbox  {
	border-bottom: 2px solid var(--lighter-gray);
	margin-bottom: 1em;
}

.row.table-headers {
	padding-bottom: 0.7em;
}
.numberbox {
	& select {
		max-width: 5em;
		width: 5em;
	}
}

.col.fees-calculator {
	margin-bottom: 2em;

	& .row {
		align-items: center;
	}
}
