.registration-form {
	padding: 1em 3em;
	font-family: var(--light-font);
	overflow: hidden;
	margin-bottom: 2em;

	& h1,
	& h3 {
		font-weight: regular;
		margin: 0;
		font-size: 1.17em;
	}

	& hr {
		width: 250px;
		margin: 0 0 1em 0;
	}

	& br {
		line-height: 1.45em;
	}

	& h3 {
		padding-top: 1em;
		margin-top: auto;
		margin-right: 10px;
	}

	& input,
	& select,
	& .select {
		/* max-width: 300px; */
		max-width: 100%;
		width: 100%;
	}

	& input[type="submit"] {
		max-width: 200px;
	}

	& .select,
	& .textbox {
		margin-bottom: 1em;
	}

	& .textbox,
	& select {
		/* margin-right: 3em; */
	}

	& div[data-node-name='zipCodeTextBox'] .validation-message {
		max-width: 7em;
	}

	& input[name='zipCode'],
	& select[name='state'] {
		/* max-width: 5em; */
	}

	& span.label {
		font-weight: 600;
		left: 0;
	}

	& .primary-button {
		-moz-appearance: none;
		-webkit-appearance: none;
		height: 40px;
		width: 100px;
		padding: 0;
		text-align: center;
	}

	/* CSS styling for Stripe elements */
	& .StripeElement {
		background-color: var(--background-color);
		border: 0;
		border-bottom: 1px solid var(--lighter-gray);
		height: 30px;
		margin-bottom: 0.5em;
		padding: 0;
	}

	& .CardField--ltr .CardBrandIcon-container:not(.is-hidden)+.CardField-input-wrapper {
		left: 0 !important;
	}

	& .CardField--ltr .CardBrandIcon-container {
		display: none !important;
	}

	& .StripeElement--focus,
	& .StripeElement--complete {
		border-color: var(--input-field-valid-color);
	}

	& .StripeElement--invalid {
		border-color: var(--input-field-invalid-color);
	}
}

.form-row {
	display: flex;
}

.form-col {
	margin-right: 1em;
	margin-bottom: 1em;
	min-width: 330px;

	& input {
		max-width: 200px;
	}
}

.card-info {
	& input {
		width: 4em;
	}

	& div.validation-message {
		max-width: 4em;
	}
}

.wrap {
	flex-flow: wrap;
}

.event-fees {
	justify-content: space-between;
	max-width: 750px;

	& hr {
		width: 100%;
	}

	& p {
		margin-bottom: 5px;
		margin-right: 5px;
		min-width: 60px;
	}

	& input {
		margin-bottom: 5px;
	}

	& .validation-message {
		color: var(--input-field-invalid-color);
		font-size: 0.8rem;
	}
}

.divider {
	height: 8px;
	width: 200px;
	background-color: var(--input-field-text-color);
	margin: 3em 0 3em -3em;
}

.item-title {
	width: 125px;
}

.total {
	min-width: 90px;
	text-align: center;
}

@media (--small-down) {
	.registration-form {
		padding: 1em;

		& .primary-button {
			margin: 0;
			width: 80px;
			font-size: 1em;
		}

		& .textbox,
		& select {
			margin-right: 1em;
		}

	}

	.event-fees hr {
		min-width: 100%;
	}

	.user-info {
		flex-direction: column;
	}
}


.row-flush {

	& .col {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (--medium-up) {
	.row-flush {

		& .col-md-6 {
			padding-right: 4rem;
		}

		& .col-md-6:nth-child(even) {
			padding-right: 0;
		}
	}

	.row-flush.zip-city-state {

		& .col-md-3:first-child {
			padding-right: 4rem;
		}

		& .col-md-6 {
			padding-right: 4rem;
		}
	}
}
