.registration-form {
	padding: 1em 3em;
	font-family: var(--light-font);
	overflow: hidden;

	& h1,
	& h3 {
		font-weight: regular;
		margin: 0;
		font-size: 1.17em;
	}

	& hr {
		width: 250px;
		margin: 0 0 1em 0;
	}

	& br {
		line-height: 1.45em;
	}

	& h3 {
		width: 140px;
		padding-top: 1em;
		margin-top: auto;
		margin-right: 10px;
	}

	& input,
	& select,
	& .select {
		max-width: 300px;
	}

	& .select,
	& .textbox {
		margin-bottom: 1em;
	}

	& .textbox,
	& select {
		margin-right: 3em;
	}

	& div[data-node-name='zipCodeTextBox'] .validation-message {
		max-width: 7em;
	}

	& input[name='zipCode'],
	& select[name='state'] {
		max-width: 5em;
	}

	& span.label {
		font-weight: 600;
		left: 0;
	}

	& .primary-button {
		-moz-appearance: none;
		-webkit-appearance: none;
		height: 40px;
		width: 100px;
		padding: 0;
		text-align: center;
	}

	& .validation-message {
		color: var(--input-field-invalid-color);
	}
}

.form-row {
	display: flex;
}

.form-col {
	margin-right: 0.5em;
	min-width: 330px;

	& input {
		max-width: 200px;
	}
}

.card-info {
	& input {
		width: 4em;
	}

	& div.validation-message {
		max-width: 4em;
	}
}

.wrap {
	flex-flow: wrap;
}

.form-middle {
	& form-col {
		margin-right: auto;
	}

	& .form-row {
		width: 100%;
	}

	& p {
		height: 25px;
		width: 60px;
	}
}

.event-fees {
	justify-content: space-between;
	max-width: 900px;

	& .form-col {
		width: 40%;
	}

	& .form-row {
		justify-content: space-between;
	}

	& hr {
		min-width: 400px;
	}

	& p {
		margin-bottom: 5px;
		margin-right: 5px;
		min-width: 60px;
	}

	& input {
		margin-bottom: 5px;
	}
}

.divider {
	height: 8px;
	width: 200px;
	background-color: var(--input-field-text-color);
	margin: 3em 0 3em -3em;
}

.radio {
	margin-top: auto;
	display: flex;
	justify-content: space-between;
}

span.radio {
	margin-right: 1em;
	margin-bottom: 0.7em;
}

.item-title {
	width: 125px;
}

.total {
	min-width: 90px;
	text-align: center;
}


@media (--large-down) {
	.event-fees {
		justify-content: space-between;

		&  hr {
			min-width: 330px;
		}
	}
}

@media (--small-down) {
	.registration-form {
		padding: 1em;

		& .primary-button {
			margin: 0;
			width: 80px;
			font-size: 1em;
		}

		& .textbox,
		& select {
			margin-right: 1em;
		}

	}

	.event-fees .form-col {
		padding: 0 1em;
		width: 100%;
	}

	.event-fees hr {
		min-width: 100%;
	}

	.user-info {
		flex-direction: column;
	}
}
