<form class="registration-form">
    <h1>Registration Form</h1>
    <div class="form-row">
        <component src="components/form/FirstName.html"></component>
        <component src="components/form/MiddleName.html"></component>
        <component src="components/form/LastName.html"></component>
    </div>
    <component src="components/form/GuestName.html"></component>
    <div class="form-row">
        <component src="components/form/Address.html"></component>
        <component src="components/form/UnitNumber.html"></component>        
    </div>
</form>
