.select {
	position: relative;

	& .select-wrap {
		display: flex;
		flex-direction: row;
	}

	& label {
		color: var(--input-color);
		display: block;
		flex: 1;
	}

	& select {
		-webkit-appearance: none;
		-moz-appearance: none;
		background: var(--select-background-image);
		background-repeat: no-repeat;
		background-position: 98% 75%;
		background-size: 15px 10px;
		border: 0;
		border-radius: 0;
		border-bottom: 1px solid var(--input-color);
		font-size: 1.2rem;
		padding: 1em 1em 0 0.7em;
		touch-action: manipulation;
		height: var(--input-height);
		width: 100%;
	}

	& select::-ms-expand {
		display: none;
	}

	& select:focus,
	& .populated.invalid:focus,
	& .populated.valid:focus {
		border-bottom-color: var(--input-focus-color);
		outline: none;
	}

	& .label {
		cursor: text;
		font-size: 1rem;
		left: 0.8em;
		position: absolute;
		pointer-events: none;
		top: 1.1em;
		touch-action: manipulation;
		transition: font-size 0.2s, font-weight 0.2s, left 0.2s, top 0.2s;
	}

	& select:focus ~ .label,
	& .populated ~ .label,
	& .populated.invalid:focus ~ .label,
	& .populated.valid:focus ~ .label {
		color: var(--input-focus-color);
		font-size: 0.8rem;
		font-weight: var(--font-weight-semibold);
		left: 1.1em;
		top: 0.4em;
	}

	& select:-webkit-autofill ~ .label,
	& select:-webkit-autofill:hover ~ .label,
	& select:-webkit-autofill:focus ~ .label {
		color: var(--input-focus-color);
		font-size: 0.8rem;
		font-weight: var(--font-weight-semibold);
		left: 1.1em;
		top: 0;
	}

	& option {
		font-size: 1rem;
	}

	& .description {
		color: var(--input-color);
		font-size: 0.8rem;
		padding-left: 1em;
	}

	& .validation-message {
		color: var(--input-invalid-color);
		font-size: 0.8rem;
		padding-left: 1em;
	}

	& .populated.invalid {
		border-bottom-color: var(--input-invalid-color);
	}

	& .populated.invalid ~ .label {
		color: var(--input-invalid-color);
	}

	& .populated.valid {
		border-bottom-color: var(--input-valid-color);
	}

	& .populated.valid ~ .label {
		color: var(--input-valid-color);
	}

	& .info-icon {
		border-bottom: 1px solid var(--input-color);
		cursor: pointer;
		flex-basis: 20%;
		padding-top: 0.6em;
		text-align: center;
	}

	& .info-box {
		padding-top: 0.3em;
		position: relative;
	}

	& .info-box-close {
		cursor: pointer;
		position: absolute;
		right: -10px;
		top: -10px;
	}
}
