<div class="select" data-required-message="${required-message}">
	<div class="select-wrap">
		<label>
			<select name="${name}" data-node-name="inputNode" ${required}>${options}</select>
			<span class="label">${label}</span>
		</label>

		<div class="info-icon hidden" data-node-name="infoIconNode">
			<i class="far fa-question-circle" aria-hidden="true"></i>
		</div>
	</div>

	<div class="description" data-node-name="descriptionNode">${description}</div>
	<div class="validation-message hidden" data-node-name="validationNode">${validation-message}</div>

	<div class="info-box hidden" data-node-name="infoBoxNode">
		<i class="info-box-close far fa-times-circle fa-sm" aria-label="close" data-node-name="infoBoxCloseNode"></i>
		<div data-node-name="infoContentNode">${info}</div>
	</div>
</div>
