body {
	font-family: var(--primary-font);
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

.page {
	background-color: var(--page-background-color);
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

@media (--small-down) {
	.hide-sm-down {
		display: none;
	}
}

@media (--small-up) {
	.hide-sm-up {
		display: none;
	}
}

@media (--medium-down) {
	.hide-md-down {
		display: none;
	}
}

@media (--medium-up) {
	.hide-md-up {
		display: none;
	}
}

@media (--large-down) {
	.hide-lg-down {
		display: none;
	}
}

@media (--large-up) {
	.hide-lg-up {
		display: none;
	}
}

@media (--x-large-down) {
	.hide-xl-down {
		display: none;
	}
}

@media (--x-large-up) {
	.hide-xl-up {
		display: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.flex-wrapper {
	flex: 1 0 auto;
	width: 100vw;
}

.hidden,
.hf-warning {
	display: none;
}

.visually-hidden {
	height: 1px;
	left: -10000px;
	overflow: hidden;
	position: absolute;
	top: auto;
	width: 1px;
}

.no-scroll {
	overflow: hidden;
	position: fixed;
	width: 100vw;
}

.input-row {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 0em;
}

.input-row > * {
	flex-basis: 0;
	flex-grow: 1;
	margin: 0.5em 1em;

}

.primary-button {
	border: none;
	background: var(--primary-button-background-color);
	border-radius: 3px;
	color: white;
	cursor: pointer;
	font-size: 15px;
	padding: 0.8em 1.5em;
	font-family: var(--primary-font);
	text-transform: uppercase;
}

.primary-button:hover {
	text-decoration: underline;
}

a.primary-button {
	text-decoration: none;
	display: inline-block;
}

button.primary-button {
	max-width: 200px;
}

figure {
	margin: 0;
	padding: 0;
}


.welcome {
	font-family: var(--light-font);
	text-align: center;

	& h1 {
		font-size: 34px;
		font-weight: normal;
		letter-spacing: 2px;
		margin: 0.5em 0;
		padding: 0;
	}

	& p {
		font-size: 18px;
		line-height: 2;
		margin-top: 0;
	}

	& hr {
		display: none;
	}
}


@media (--medium-up) {
	.welcome {
		padding-left: var(--padding-desktop);
		padding-right: var(--padding-desktop);

		& h1 {
			font-size: 55px;
			letter-spacing: 3px;
		}

		& p {
			font-size: 24px;
		}

		& hr {
			display: block;
		}
	}
}
