:root {
	--primary-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	--font-weight-thin: 300;
	--font-weight-regular: 400;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	--background-color: white;
	--text-color: black;
	--teal: #55B4B0;


	--header-background-color: var(--teal);
	--header-height: 88px;
}



/* Core breakpoints */
@custom-media --x-small-down (max-width: 359px);
@custom-media --x-small-up (min-width: 360px);
@custom-media --small-down (max-width: 575px);
@custom-media --small-up (min-width: 576px);
@custom-media --medium-down (max-width: 767px);
@custom-media --medium-up (min-width: 768px);
@custom-media --large-down (max-width: 991px);
@custom-media --large-up (min-width: 992px);
@custom-media --x-large-down (max-width: 1199px);
@custom-media --x-large-up (min-width: 1200px);
