:root {
	--light-font: 'Roboto Light', Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	--medium-font: 'Roboto Medium', Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	--primary-font: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	--default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	--font-weight-thin: 300;
	--font-weight-regular: 400;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	--almost-white: hsl(180, 33%, 99%);
	--dark-gray: hsl(0, 0%, 46%);
	--gray: hsl(0, 0%, 67%);
	--light-gray: hsl(0, 0%, 63%);
	--lighter-gray: hsl(0, 0%, 90%);
	--green: hsl(166, 100%, 30%);
	--red: hsl(358, 85%, 52%);
	--teal: hsl(177, 39%, 52%);

	--text-color: black;
	--background-color: white;

	--input-text-color: var(--gray);
	--input-invalid: var(--red);
	--input-focus: var(--teal);
	--select-background-image: url('/img/icons/select-caret.svg');
	--select-focus-background-image: url('/img/icons/select-caret-focus.svg');
	--input-height: 50px;

	--header-height: 88px;
	--header-background-color: var(--teal);
	--footer-height: 300px;
	--footer-background-color: var(--light-gray);
	--footer-color: white;
	--page-background-color: var(--almost-white);
	--photos-splash-background: rgb(189, 183, 182);
	--primary-button-background-color: var(--green);
	--history-background-color: var(--lighter-gray);
	--thankyou-text-color: var(--dark-gray);

	--padding-mobile: 2%;
	--padding-desktop: 6%;
}

@custom-media --x-small-down (max-width: 359px);
@custom-media --x-small-up (min-width: 360px);
@custom-media --small-down (max-width: 575px);
@custom-media --small-up (min-width: 576px);
@custom-media --medium-down (max-width: 767px);
@custom-media --medium-up (min-width: 768px);
@custom-media --large-down (max-width: 991px);
@custom-media --large-up (min-width: 992px);
@custom-media --x-large-down (max-width: 1199px);
@custom-media --x-large-up (min-width: 1200px);
