<form class="contact-form">
	<div class="main">
		<div class="row row-flush">
			<div class="col-12 col-md-6">
				<component src="components/form/FirstName.html" data-node-name="firstNameTextBox"></component>
			</div>
			<div class="col-12 col-md-5 offset-md-1">
				<component src="components/form/LastName.html" data-node-name="lastNameTextBox"></component>
			</div>
		</div>
		<div class="row row-flush">
			<div class="col-8 col-md-6">
				<component src="components/form/EmailAddress.html" data-node-name="emailAddressTextBox"></component>
			</div>
		</div>
		<div class="row row-flush">
			<div class="col-8 col-md-6">
				<component src="components/form/PhoneNumber.html" data-node-name="phoneNumberTextBox"></component>
			</div>
		</div>
		<div class="row row-flush">
			<div class="col-12 col-md-6">
				<component src="components/form/QuestionTypeSelect.html" data-node-name="questionTypeSelect"></component>
			</div>
		</div>
		<div class="row row-flush bottom">
			<div class="col-12 col-md-6">
				<component src="components/form/QuestionInput.html" data-node-name="questionInputTextArea"></component>
			</div>
			<div class="col-12 col-md-5 offset-md-1">
				<button type="submit" class="secondary-button">{{ lang.contactUs }}</button>
			</div>
		</div>
	</div>
</form>
