<form class="contact-form">
	<div class="main row row-flush">
		<div class="col-12 col-md-5">
			<component src="components/form/FirstName.html" data-node-name="firstNameTextBox"></component>
		</div>
		<div class="col-12 col-md-5 offset-md-2">
			<component src="components/form/LastName.html" data-node-name="lastNameTextBox"></component>
		</div>

		<div class="col-12 col-md-5">
			<component src="components/form/EmailAddress.html" data-node-name="emailAddressTextBox"></component>
		</div>

		<div class="input-row">
			<component src="components/form/PhoneNumber.html" data-node-name="phoneNumberTextBox"></component>
		</div>

		<div class="input-row">
			<component src="components/form/QuestionTypeSelect.html" data-node-name="questionTypeSelect"></component>
		</div>

		<div class="input-row share">
			<component src="components/form/QuestionInput.html" data-node-name="questionInputTextArea"></component>

		</div>
		<button type="submit" class="primary-button">{{ lang.contactUs }}</button>

		<div class="input-row mainContact">
			<p>{{ lang.swarnjitSingh }}</p>
		</div>

		<div class="input-row mainContact">
			<a href="mailto:{{ lang.contactEmail }}">{{ lang.contactEmail }}</a>
		</div>
	</div>
</form>
