<header class="header">
	<div class="main-navigation">
		<div class="max-width">
			<div class="logo-hamburger-donate">
				<a href="/" class="logo-link">
					<img src="{{ logoUrl }}" alt="{{ lang.guruNanakDwara }}" class="logo">
				</a>
				<div class="hamburger-and-donate">
					<div class="hamburger" aria-expanded="false" data-node-name="hamburgerNode">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<a href="/donate.html" class="donate">{{ lang.donate }}</a>
				</div>
			</div>
			<component type="VerticalNavigator"></component>
		</div>
	</div>
</header>
