<div class="form-row event-fees wrap" data-node-name="eventFeesNode">
	<div class="form-col">
		<div class="form-row">
			<p>Event Fees:</p>
			<p>Price:</p>
			<p>Qty:</p>
		</div>
		<hr>
		<component type="NumberBox" data-node-name="adultFullNode">
			<label>Adult Full Days:</label>
			<price>500</price>
			<name>adultFullDays</name>
		</component>
		<hr>
		<component type="NumberBox" data-node-name="adultOneDayNode">
			<label>Adult One Day:</label>
			<price>200</price>
			<name>adultOneDay</name>
		</component>
		<hr>
		<component type="NumberBox" data-node-name="adultTwoDayNode">
			<label>Adult Two Days:</label>
			<price>500</price>
			<name>adultTwoDays</name>
		</component>
		<hr>
		<component type="NumberBox" data-node-name="residentsNode">
			<label>Residents & Fellows:</label>
			<price>250</price>
			<name>residentsFellows</name>
		</component>
		<hr>
	</div>
	<div class="form-col">
		<div class="form-row">
			<p>Event Fees:</p>
			<p>Price:</p>
			<p>Qty:</p>
		</div>
		<hr>
		<component type="NumberBox" data-node-name="spouseNode">
			<label>Spouse:</label>
			<price>250</price>
			<name>spouse</name>
		</component>
		<hr>
		<component type="NumberBox" data-node-name="childrenNode">
			<label>Children Under 12</label>
			<price>200</price>
			<name>children</name>
		</component>
		<hr>
		<component type="NumberBox" data-node-name="guestsNode">
			<label>Dinner Guests</label>
			<price>100</price>
			<name>dinnerGuests</name>
		</component>
		<hr>
		<div class="form-row">
			<p>Total:</p>
			<p>$<span id="total">0</span></p>
			<input type="submit" label="submit">
		</div>
	</div>
</div>
