footer {
	background-color: var(--footer-background-color);
	padding: 15px 2%;

	& .footer-nav {
		width: 100%;
		text-transform: uppercase;

		& .nav-item {
			list-style: none;
			padding-top: 30px;
			font-size: 12px;
			color: var(--footer-color);
			text-decoration: none;
			text-align: left;
		}

		& .social-media {
			font-size: 30px;
			padding-top: 25px;
			text-decoration: none;

			& a {
				color: var(--footer-color);
				padding-right: 15px;
				text-decoration: none;
			}
		}
	}
}

@media (--medium-up) {
	footer {
		& .footer-nav {
			padding-left: 13%;
			padding-right: 0;

			& .nav-item {
				font-size: 17px;
				padding-right: 0;
				text-align: center;
			}
		}
	}
}
