footer {
	background:#A1A1A1;

	& .footer-nav{
		padding: 15px;

		& ul {
			text-transform: uppercase;
			padding: 12px;
			justify-content:flex-end;

			& li {
				list-style: none;
				padding-top: 12px;
			}

			& a {
				font-size: 20px;
				color: white;
				text-decoration: none;
				white-space: nowrap;
			}

			& a:hover {
				text-decoration: underline;
			}

			& .social-media a {
				font-size: 30px;
				padding-right: 15px;
				white-space: nowrap;
			}
		}
	}
}

@media (--small-down) {
	footer {

		& .footer-nav {
			& ul a {
              font-size: 10px;
			}
		}
	}
}

@media (--medium-up) {
	footer {
		& .footer-nav {
			& ul a {
			  font-size: 20px;
			}
		}
	}
}

@media (--medium-down) {
	footer {
		& .footer-nav {

			& ul a {
			  font-size: 26px;
			  justify-content: flex-start !important;
			}
		}
	}
}

@media (x-large-up) {
	footer {

		& .footer-nav {

		& ul a {
			text-align: right;
			}
		}
	}
}

@media (--large-up) {
	footer {

		& .footer-nav {
			& ul {
				& a {
					font-size: 24px;
				}

				& .social-media a {
					font-size: 35px;
				}
			}
		}
	}
}
