<footer class="container">
		<nav class="footer-nav">
			<ul class="row col-md-12">
				<each loop="navitem in siteLinks">
				<div class="flex-container">
					<li class="col-md">
						<a href="{{ navitem.url }}">{{ navitem.title }}</a>
					</li>
				</div>
				</each>

				<div class="social-media">
					<each loop="link in socialMedia">
						<a  class="col-md col-md-offset-2" href="{{ link.url }}" title="{{ link.title }}" target="_blank">
						<i class="{{ link.icon }}"></i></a>
					</each>
				</div->

			</ul>
		</nav>
</footer>
