footer {
	background-color: var(--footer-background-color);

	& .footer-nav{
		padding: 15px;

		& ul {
			text-transform: uppercase;
			padding: 12px;
			justify-content:flex-end;

			& li {
				list-style: none;
				padding-top: 12px;
			}

			& a {
				font-size: 21px;
				color: white;
				text-decoration: none;
				white-space: nowrap;
			}

			& a:hover {
				text-decoration: underline;
			}

			& .social-media a {
				font-size: 36px;
				padding-right: 15px;
				white-space: nowrap;
			}
		}
	}
}

@media (--medium-down) {
	footer {

		& ul {
			justify-content: flex-start !important;

			& li {
				padding-right: 90px !important;
			}

			& a {
				font-size : 20px;
			}
		}
	}
}

@media (--mediumInterm-down) {
	footer {

		& ul {
			justify-content: flex-start;

			& li {
				padding-right: 45px !important;
			}

			& a {
				font-size : 17px;
			}
		}
	}
}
