@import '../assets/css/_variables.css';

nav.vertical-navigator ul a.contact:after {
	background: white;
}

main {
	padding: 2em var(--padding-mobile);

	& h1 {
		color: var(--gray);
		font-size: 1.25rem;
		font-weight: var(--font-weight-regular);
		border-bottom: 1px solid var(--gray);
		display: inline-block;
		padding-right: 3em;
		padding-bottom: 0.5em;
		margin-bottom: 1.5em;
	}
}

.input-row.share {
	flex-direction: column;
}

.input-row > * {
	flex-basis: 0;
	flex-grow: 1;
	margin: 0.5em 0;
}

.input-row.mainContact {
	margin-top: 0;
	color: var(--thankyou-text-color);

	& a {
		color: var(--thankyou-text-color);
	}

	& a:hover {
		color: var(--teal);
	}
}

@media (--medium-up) {

	main {
		padding: 2em var(--padding-desktop);

		& h1 {
			font-size: 1.5rem;
		}
	}

	.primary-button {
		margin-left: 0.5em;
	}

	.input-row {
		margin: 0;
	}

	.input-row.share {
		flex-direction: row;
		/* max-width: 800px; */
		justify-content: flex-start;
	}

	button.primary-button {
		margin-top: 1em;
		align-self: flex-end;
	}
}


.col-md-6 {
	padding-left: 0;
	padding-right: 0;
}

input {
	width: 100%;
}
