@import '../assets/css/_variables.css';

nav.vertical-navigator ul a.contact:after {
	background: white;
	box-shadow: var(--drop-shadow);
}

main {
	padding: 2em var(--padding-mobile);

	& h1 {
		font-size: 1.25rem;
		font-weight: var(--font-weight-regular);
		border-bottom: 1px solid black;
		display: inline-block;
		width: 250px;
		padding-bottom: 0.5em;
		margin-bottom: 1.5em;
	}
}

@media (--medium-up) {

	main {
		padding: 2em var(--padding-desktop);

		& h1 {
			font-size: 1.5rem;
		}
	}
}


@media all and (-ms-high-contrast: none) {

	h1 {
		margin-top: 1em;
	}

	.contact-form {
		padding: 1em var(--padding-desktop);
	}
}
