@import '../assets/css/_variables.css';

nav.vertical-navigator ul a.events:after {
	background: white;
	box-shadow: var(--drop-shadow);
}

.hero {
	background-color: #d2c3c5;

	& .outter {
		height: 0;
		padding-bottom: 34.41%;
		position: relative;

		& .inner {
			background-image: url('img/1200x413-events.jpg');
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: contain;
			clear: both;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}

.current-events {
	font-family: var(--light-font);
	width: 100%;
	background: url(img/cmc-green-back.png);
	text-shadow:  var(--drop-shadow);
	padding: 80px 50px;

	& p {
		color: white;
		font-size: 45px;
		width: 720px;
		margin: 0;
	}
}

.welcome-message {
	display: flex;
	margin: auto;
	max-width: 420px;
	padding-left: 1em;

	& h1 {
		text-transform: uppercase;
		margin: 0;
	}

	& span {
		font-size: 22px;
	}

	& img {
		height: 70px;
		margin: auto 10px;
	}
}

@media(--large-down) {
	.current-events {
		& p {
			width: 640px;
			font-size: 40px;
		}
	}
}

@media(--medium-down) {
	.current-events {
		padding: 2em;

		& p {
			width: 320px;
			font-size: 19px;
		}
	}

	.welcome-message {
		max-width: 330px;
		padding: 0;

		& span {
			font-size: 16px;
		}
	}
}

@media(--x-small-down) {
	.current-events {
		& p {
			width: unset;
			font-size: 18px;
		}
	}
}
