@import '../assets/css/_variables.css';

nav.vertical-navigator ul a.events:after {
	background: white;
	box-shadow: var(--drop-shadow);
}

.hero {
	background-color: #d2c3c5;

	& .outter {
		height: 0;
		padding-bottom: 34.41%;
		position: relative;

		& .inner {
			background-image: url('img/1200x413-events.jpg');
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: contain;
			clear: both;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}

section.event-header {
	background: #40874c url('img/cmc-green-back.png');
	color: white;
	/* flex-direction: column; */
	font-family: var(--default-font);
	padding: 1em;
	padding-bottom: 0;
	font-size: 150%;

	& article {
		margin: 0 0 1em 0;

		&.address {

			display: flex;

			& p { margin-top: 0;}

			& img {
				max-width: 100px;
				max-height: 100px;
			}
		}
	}

	& h2,
	& p {

		text-shadow:  var(--drop-shadow);
	}
}

.current-event {
	color: white;
	display: flex;
	/* flex-direction: column;
	flex-wrap: wrap; */
	justify-content: space-between;
	min-height: 200px;
	margin: 1em 0;

	/* & a {
		display: none;
	} */

	& p {
		text-shadow:  var(--drop-shadow);
		margin: 0;
		max-width: 550px;
	}

	& .event-address,
	& .event-info {
		padding: 0.3em;
		margin: 0 auto;
	}

	& .event-info {
		font-size: 34px;
		max-width: 300px;
	}

	& .event-address {
		display: flex;
		flex-grow: unset;
		font-size: 18px;
		text-shadow:  var(--drop-shadow);

		& img {
			display: block;
			height: 150px;
			margin-right: 0.5em;
			width: 130px;
		}
	}

	& .mobile-button {
		position: static;
		display: inline-block;
		margin: 0.5em auto;
	}
}

.welcome {
	max-width: 560px;
}

section.event-content {
	display: flex;
	padding: 1em;
	font-family: var(--light-font);

	& a {
		color: var(--primary-link-color);
	}

	& b {
		font-weight: var(--font-weight-semibold: 600);
	}

	& article {
		line-height: 2em;
		max-width: 600px;
		margin: 0 auto;

		& img {
			width: 100%;
		}
	}

	& aside {
		font-size: 18px;
		line-height: 1.3em;
		max-width: 400px;
		padding: 2em 0 0 2em;

		& img {
			width: 330px;
			padding: 0.5em;
			margin: 0.5em 0;
		}
	}

	& .signature {
		padding-left: 2em;
	}
}

@media(--small-up) {
	section.events {
		padding: 0 var(--padding-mobile);
	}

	.current-event {
		flex-direction: row;

		& a {
			bottom: 1em;
			display: inline-block;
			margin-left: 5em;
			position: relative;
			right: 0;
			text-shadow: none;
		}

		& .event-address {
			/* flex-grow: 0.3; */
			font-size: 24px;

			& img {
				height: 170px;
				width: 170px;
			}
		}

		/* & .event-info {
			font-size: 36px;
			max-width: unset;
		} */

		& .mobile-button {
			display: none;
		}
	}
}

@media(--large-up) {
	section.event-content {
		padding: 1em var(--padding-desktop);
		padding-bottom: 1em;

		& article {
			font-size: 22px;
			max-width: 900px;
		}
	}

	.current-event .event-info {
		font-size: 42px;
	}
}

@media(--x-small-down) {
	.current-event {
		& .event-address {

			& img {
				height: 120px;
				width: 120px;
			}
		}
	}
}

.fb-event-feed .fb-page {
	margin: 0 auto 50px auto;
	max-width: 500px;
	display: block;
}
