@import '../assets/css/_variables.css';

nav.vertical-navigator ul a.events:after {
	background: white;
}

.hero {
	background-color: #d2c3c5;

	& .outter {
		height: 0;
		padding-bottom: 34.41%;
		position: relative;

		& .inner {
			background-image: url('img/1200x413-events.jpg');
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: contain;
			clear: both;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}

@media (--medium-up) {
	.hero .outter .inner {
		background-image: url('img/cmc-1200x210.png'), url('img/1200x413-events.jpg');
	}
}


.welcome h1 {
	text-transform: uppercase;
}
