@import '../assets/css/_variables.css';

figure {
	margin: 0;
	padding: 0;
}

.hero {
	background-color: #d4d2d1;

	& .image-outter {
		height: 0;
		padding-bottom: 31.67%;
		position: relative;

		& .image-inner {
			background-image: url('img//1200x380-home.jpg');
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: contain;
			clear: both;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}

@media (--medium-up) {
	.hero .image-outter  .image-inner {
		background-image: url('img/cmc_1200x210.png'), url('img/1200x380-home.jpg');
	}
}
