@import '../assets/css/_variables.css';

nav.vertical-navigator ul a.photos:after {
	background: white;
	box-shadow: var(--drop-shadow);
}

body {
	font-family: var(--primary-font);
}

.photos-title {
	font-family: var(--light-font);
	font-size: 48px;
}

.outer {
	& .splash-outer {
		height: 0;
		padding-bottom: 34.3%;
		position: relative;

		& .splash-inner {
			background-image: url('img/412x1200-photos.jpg');
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: cover;
			clear: both;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}

.introduction {
	text-align: center;
}


.welcome h1 {
	text-transform: uppercase;
}

.album-container {
	background-color: #79bdc1;
	background-image: url('img/cmc-green-back.png');
	background-repeat: repeat-y;
	margin: 0;
	padding: 20px 45px 20px 10px;
}

@media (--medium-up) {
	.album-container {
		padding: 20px 35px 20px 10px;
	}
}

figure {

	& img {
		width: 100%;
		display: block;
		margin: 10px 30px 20px 10px;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	}

	& figcaption {
		text-align: center;
		color: white;
		text-shadow: 1px 1px 1px #000;
	}
}

.welcome-message {
	display: flex;
	max-width: 500px;
	margin: 0 auto;

	& img {
		margin: auto 10px;
		width: 90px;
		height: auto;
	}

	& span {
		font-size: 24px;
	}
}

@media (--medium-down) {
	.welcome-message {
		max-width: 340px;

		& span {
			font-size: 16px;
		}

		& img {
			width: 60px;
		}

		& div {
			margin: auto 0;
		}
	}
}
