@import '../assets/css/_variables.css';

nav.vertical-navigator ul a.photos:after {
	background: white;
}

body {
	font-family: var(--primary-font);
}

.photos-title {
	font-family: var(--light-font);
	font-size: 48px;
}

.outer {
	background-color: var(--photos-splash-background);

	& .splash-outer {
		height: 0;
		padding-bottom: 34.3%;
		position: relative;

		& .splash-inner {
			background-image: url('img/412x1200-photos.jpg');
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: contain;
			clear: both;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}

@media (--medium-up) {
	.outer .splash-outer .splash-inner {
		background-image: url('img/cmc-1200x210.png'), url('img/412x1200-photos.jpg');

	}
}

.introduction {
	text-align: center;
}


.welcome h1 {
	text-transform: uppercase;
}

.album-container {
	background-image: url('img/photos_bg.jpg');
	background-size:    ;
	background-repeat: repeat-y;
	background-color: #79bdc1;
	padding: 20px 45px 20px 10px;
	margin: 0;
}

@media (--medium-up) {
	.album-container {
		padding: 20px 35px 20px 10px;
	}
}

figure {
	/* overflow: hidden; */
	margin-bottom: 2em;


	& img {
		width: 100%;
		display: block;
		margin: 10px 30px 20px 10px;
		box-shadow: 10px 10px 20px 10px rgba(0,0,0,0.5);
	}

	& figcaption {
		text-align: center;
		color: white;
		text-shadow: 1px 1px 1px #000;
	}
}
